.wrapper {
  margin-top: 40px;
  // @media (max-width: 600px) {
  //   margin-top: 65px;
  // }
}
.buttonClass {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.formGroup {
    margin-bottom: 1em;

    .receivedAmountWrapper{
      display: flex;
      justify-content: space-between;
      .w-46{
        width: calc(46% - 8px) !important;
        input {
          width: calc(100% - 22px) !important;
        }
      }
    }

    label {
      display: block;
      margin-bottom: 0.5em;
    }
  
    input[type="text"],
    input[type="number"],
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    .radioGroup {
      display: flex;
      gap: 20px;
      margin-bottom: 1em;
    }
  
    .productGroup {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  
      > div {
        flex: 1;
      }
  
      button {
        align-self: center;
        margin-left: 10px;
      }
    }
  }
  
  .balance {
    font-size: 1.2rem;
    color: blue;
  
    &.negative {
      color: red;
    }
  }
  
  @media (max-width: 600px) {
    .productGroup {
      flex-direction: column;
    }
  }
  
  